@media (max-width: 875px) {
  #banner-container {
    display: none;
  }

  #form-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    width: 90%;
  }

  footer #footer-links {
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
}

/* celulares */
@media (max-width: 450px) {
  body {
    background-color: white;
  }

  #banner-container {
    display: none;
  }

  #main-container,
  #form-box {
    margin-top: 0;
  }

  #form-container,
  #form-box,
  #register-container,
  #get-app-container {
    width: 100%;
    border: none;
  }

  footer {
    width: 90%;
  }

  footer #footer-links {
    flex-flow: row wrap;
    justify-content: center;
  }
}
